.form-control {
  border-radius: 4px;
  box-shadow: none !important;
  border-color: #cbd5e0;
  transition: all 0.1s ease-in-out;
}

.form-small {
  max-width: 640px;
  width: 100%;
}

.form-control:hover,
.form-control:focus {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.help-text {
  margin-top: 0 !important;
}

.notice {
  border: none !important;
  border-left: 4px solid transparent !important;
  background-color: rgba(255, 99, 71, 0.1) !important;
  border-left-color: tomato !important;
  border-radius: 4px 8px 8px 4px !important;
}

.form-section {
  position: relative;
}

.form-section + .form-section {
  margin-top: 30px;
}
.form-section + .form-alt,
.form-section + .form-actions {
  margin-top: 60px;
}

.form-actions {
  text-align: center;
}

.form-alt {
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;
}
.form-alt::before {
  content: "";
  background-color: #2d3748;
  width: 60px;
  height: 3px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
