<header id="siteHeader" class="wrapper header headroom">
    <section class="section">
        <a class="logo-link logo-main" href="/">
            <img class="logo-descon" src="{{ root }}assets/img/logo-design-conference.svg"
                alt="Design Conference Event logo" width="392" height="45" />
        </a>
        <nav class="nav-main">
            <ul class="menu align-right">
                <li><a class="nav-link button clear" href="/login.html"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                </li>
                <li><a class="nav-link button" href="/event-registration.html"><i class="fas fa-user-plus"></i> Event
                        Registration</a></li>
            </ul>
        </nav>
    </section>
</header>