<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
</head>

<body class="{{page}}">
  {{> header}}
  {{> body}}
  {{> footer}}

  <script src="https://unpkg.com/headroom.js@0.10.3/dist/headroom.min.js"></script>
  <script src="{{ root }}assets/js/app.js"></script>
</body>

</html>